doctype html
html
    head
        meta(charset="UTF-8")
        title dknr.io - planets
        link(rel="stylesheet", href="planets.css")
        link(rel="stylesheet", href="../../css/site.css")
body
    div(id="content")
        include planets