#planets {
  width: 80%;
  height: 80%;
  animation: fadein 3.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#mercury {
  animation: orbit 4s infinite linear;
  animation-delay: 2.5s;
}

#venus {
  animation: orbit 9s infinite linear;
  animation-delay: 2s;
}

#earth {
  animation: orbit 12s infinite linear;
  animation-delay: 1.5s;
}

#mars {
  animation: orbit 10s infinite linear;
  animation-delay: 1s;
}

#jupiter {
  animation: orbit 15s infinite linear;
  animation-delay: 0.5s;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}