svg(id="planets" width="200px" height="200px" viewBox="-100 -100 200 200")
    circle(id="sun" r="10" cx="0" cy="0" fill="#ffae38")
    circle(id="mercury" r="2" cx="0" cy="20" fill="#e6e9ef")
    circle(id="venus" r="3" cx="0" cy="30" fill="#e0dcaf")
    circle(id="earth" r="4" cx="0" cy="40" fill="#0c1c6d")
    circle(id="mars" r="3" cx="0" cy="50" fill="#8f2e20")
    circle(id="jupiter" r="5" cx="0" cy="70" fill="#e1ae38")