@import "../../node_modules/tachyons-sass/tachyons";

#header {
  @extend .flex;
  @extend .flex-wrap;

  @extend .bg-dark-gray;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
}

body {
  @extend .bg-near-black;
  height: 100%;
}

a {
  @extend .orange;
  @extend .hover-dark-red;
}

.silent-link {
  text-decoration: none;
}

.silent-link:hover {
  text-decoration: underline;
}

.breadcrumb {
  @extend .w4;
  @extend .code;
  @extend .pa2;
}

