doctype html
html
    head
        meta(charset="UTF-8")
        title dknr.io
        link(rel="stylesheet", href="css/site.css")
        link(rel="stylesheet", href="hax/planets/planets.css")
    body
        div(id="header")
            a(class="breadcrumb silent-link" href="/") dknr.io
            a(class="breadcrumb" href="hax") hax/
            a(class="breadcrumb" href="pix") pix/
        div(id="content")
            include hax/planets/planets